body {
  font-size: 13px;
  font-family: "Sarala", "Helvetica", Arial, sans-serif;
  color: #bbbbbb;
  line-height: 1.3em;
}

header {
  background: rgba(255, 255, 255, 0.85);
  border-bottom: 2px solid rgba(121, 99, 135, 0.12);
  display: flex;
  position: fixed;
  z-index: 1;
}

header .icon-container {
  align-items: center;
  display: flex;
  height: 5em;
  justify-content: center;
  width: 15vw;
}

header .icon-container img {
  width: 35.75px;
}

header nav {
  display: flex;
  align-items: center;
  width: 85vw;
}

header nav div {
  border-bottom: 0.3vh groove rgba(121, 99, 135, 0.06);
  font-family: "Sarala", sans-serif;
  height: 1.5em;
  margin-right: 15px;
  overflow: hidden;
}

header nav div a {
  color: #b1aab5;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0em;
  padding-right: 5px;
  text-decoration: none;
}

header nav div img {
  height: 2em;
  transform: translateY(30px);
  transition: transform 0.2s ease;
}

header nav div img.active {
  transform: translateY(-5px);
  transition: none;
}

header nav div:hover img {
  transform: translateY(-5px);
}

header nav .link {
  border-bottom: 0.3vh groove rgba(121, 99, 135, 0.06);
  font-weight: 700;
  height: 3vh;
  margin-right: 1em;
  overflow: hidden;
  padding-right: 3%;
  position: relative;
}

main {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding-left: 15vw;
  padding-top: 6em;
  position: relative;
  max-width: 60vw;
}

main.info {
  max-width: unset;
}

main img,
main iframe,
main video {
  max-height: 90vh;
  object-fit: contain;
  max-width: 100%;
  padding-top: 1em;
}

main.info img {
  max-width: 100%;
}

main iframe.ratio12-19 {
  width: calc(90vh * 0.63157);
}

main iframe.ratio16-9 {
  height: calc(60vw * 0.5625);
  width: 100%;
}

main h4 {
  border-bottom: 0.3vh groove rgba(121, 99, 135, 0.12);
  color: #bbbbbb;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  margin: 10px 0 4px;
  padding-bottom: 4px;
}

main p {
  font-family: "Nunito", sans-serif;
  padding-left: 1em;
  padding-right: 15em;
  margin-bottom: 20px;
}

.gradient {
  height: 100%;
  left: 0;
  position: absolute;
  top: 5em;
  width: 1em;
  background: linear-gradient(
    -30deg,
    rgba(255, 245, 128, 0.7) 0.3%,
    rgba(246, 145, 98, 1) 0.9%,
    rgba(196, 191, 217, 1) 1.7%,
    rgba(243, 128, 138, 1) 5%,
    rgba(190, 167, 193, 0.8) 7%,
    rgba(75, 104, 177, 0.9) 12%,
    rgba(50, 79, 162, 0.3) 18%,
    rgba(243, 128, 138, 0.7) 25%,
    rgba(246, 145, 98, 1) 32%,
    rgba(255, 245, 128, 0.7) 38%,
    rgba(190, 167, 193, 0.6) 44%,
    rgba(181, 205, 235, 1) 50%,
    rgba(202, 190, 228, 0.96) 56%,
    rgba(255, 172, 127, 0.6) 64%,
    rgba(169, 167, 226, 0.73) 78%,
    rgba(203, 201, 239, 0.73) 85%,
    rgba(244, 217, 187, 0.73) 90%,
    rgba(255, 245, 128, 0.7) 96%,
    rgba(255, 172, 127, 0.6) 100%
  );
}

.info-container {
  width: 380px;
}

@media (max-width: 414px) {
  main img,
  main iframe {
    object-fit: contain;
    max-width: 75vw;
    padding-top: 1em;
  }
  main iframe.ratio12-19 {
    height: calc(85vw * 1.58333);
    width: unset;
  }
  main iframe.ratio16-9 {
    height: calc(85vw * 0.5625);
    width: unset;
  }
  main iframe.ratio1-1 {
    max-height: 75vw;
  }
}
